.header {
  display: flex;
  align-items: center;
  gap: 6px;

  &__back {
    cursor: pointer;
    transition: transform 100ms linear;

    &:hover {
      transform: scale(1.3);
    }
  }

  &__text {
    font-size: 44px;
    line-height: 48px;
  }
}

@media (max-width: 768px) {
  .header {
    &__text {
      font-size: 36px;
      line-height: 36px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__text {
      font-size: 30px;
      line-height: 30px;
    }
  }
}
