@use "../../../styles/variables" as *;

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 64px;
  padding: 0 $container-padding;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: $color-white;
  z-index: 100;
}
