$color-brand: #b5460f;
$color-brand-light: rgba(181, 70, 15, 0.3);
$color-brand-hover: rgba(181, 70, 15, 0.7);
$color-brand-active: #872d01;
$color-brand-disabled: #d9d9d9;

$color-bg: #f7e8d7;
$color-white: #ffffff;
$color-grey: #d9d9d9;

$color-text-primary: #000000;
$color-text-secondary: #afadb5;
$color-text-accent: #b5460f;

$container-padding: 100px;

$space-xxh: 64px;
$space-xh: 48px;
$space-h: 36px;
$space-xxl: 28px;
$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;
