@use "./fonts" as *;
@use "./variables" as *;
@import "./animations";

html,
body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}

.container {
  position: relative;
  min-height: calc(100vh - 64px);
  background-color: $color-bg;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 992px) {
  .container {
    min-height: calc(100vh - 48px);
  }
}
