@use "../../../../../styles/variables" as *;

.menu {
  display: flex;
  gap: $space-m;

  &__item {
    color: $color-text-primary;
    cursor: pointer;
    transition: color 100ms linear;

    &:hover {
      color: $color-brand-hover;
    }

    &:active {
      color: $color-brand-active;
    }

    &-active {
      color: $color-brand;
      font-weight: bold;
    }
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}
