@use "../../styles/variables" as *;

.card {
  position: relative;
  width: 360px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: box-shadow 100ms linear;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }

  &:active {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  }
}

.card-like {
  position: absolute;
  top: $space-xs;
  left: $space-xs;
}

.card-image-container {
  width: 360px;
  height: 360px;
  background-color: $color-grey;
}

.card-img {
  width: 360px;
  height: 360px;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: $space-xl $space-xs;
  background-color: $color-white;
  flex: 1;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: $space-xxs;
  margin-bottom: $space-l;
  flex: 1;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 992px) {
  .card {
    width: 300px;
  }

  .card-image-container {
    width: 300px;
    height: 300px;
  }

  .card-img {
    width: 300px;
    height: 300px;
  }
}
