@use "../../../../../styles/variables" as *;

.summary {
  margin-top: $space-xh;
  padding: $space-h;
  background-color: $color-brand-light;
  border-radius: 10px;

  a {
    color: $color-text-primary;
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .summary {
    margin-top: $space-xxl;
    padding: $space-xxl;
  }
}

@media (max-width: 576px) {
  .summary {
    padding: $space-xl;
  }
}
