@use "../../../../../styles/variables" as *;

.directions {
  margin-top: $space-xh;

  &__list {
    margin-top: $space-xxl;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: $space-xxs;
    margin-top: $space-m;
  }
}

@media (max-width: 768px) {
  .directions {
    margin-top: $space-xl;
  }
}

@media (max-width: 576px) {
  .directions {
    &__title {
      padding: 0 $space-xl;
    }

    &__list {
      padding: 0 $space-xl;
    }
  }
}
