@use "../../../../../styles/variables" as *;

.characteristic {
  position: relative;
  display: flex;
  align-items: center;
  gap: 166px;
  margin-top: 40px;

  &__image {
    width: 448px;
    height: 298px;
    object-fit: cover;
    border-radius: 10px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    column-gap: 100px;
    row-gap: 50px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}

@media (max-width: 992px) {
  .characteristic {
    gap: 100px;
  }
}

@media (max-width: 576px) {
  .characteristic {
    flex-direction: column;
    gap: $space-xxl;
    margin-top: $space-xxl;

    &__image {
      width: 250px;
      height: 250px;
    }

    &__list {
      grid-template-columns: repeat(3, auto);
      column-gap: $space-xs;
      row-gap: $space-xxl;
    }
  }
}
