@use "../../styles/variables" as *;

.multi-dropdown {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.multi-dropdown-options {
  position: absolute;
  top: calc(52px + $space-xxs);
  width: 100%;
  background-color: $color-white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.multi-dropdown-option {
  padding: $space-s $space-xs;
  cursor: pointer;
  transition: color 100ms linear;
}

.multi-dropdown-option:hover {
  color: $color-text-secondary;
}

.multi-dropdown-option:active {
  color: $color-text-primary;
}

.multi-dropdown-option.selected {
  color: $color-brand;
}
