@use "../../../../../styles/variables" as *;

.logo {
  display: flex;
  gap: $space-l;
  cursor: pointer;
  transition: all 100ms linear;

  &__text {
    display: flex;
    align-items: center;
  }

  &:hover {
    transform: scale(1.1);
    color: $color-brand;
  }

  &:active {
    color: $color-brand-active;
  }
}
