@use "../../../styles/variables" as *;

.single-recipe {
  padding: calc($space-xxh + $space-xh) $container-padding $space-xh $container-padding;

  &__error {
    display: flex;
    flex-direction: column;
  }

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__supplies {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: $space-xh;
    margin-top: $space-xh;
  }

  &__divider {
    grid-column: 2;
    align-self: stretch;
  }
}

@media (max-width: 1200px) {
  .single-recipe {
    padding-left: $container-padding-l;
    padding-right: $container-padding-l;
  }
}

@media (max-width: 992px) {
  .single-recipe {
    padding-top: calc($space-xxh + $space-xl);
    padding-left: $container-padding-m;
    padding-right: $container-padding-m;

    &__supplies {
      display: flex;
      flex-direction: column;
      gap: $space-xl;
    }

    &__divider {
      width: 100%;
      align-self: center;
    }
  }
}

@media (max-width: 768px) {
  .single-recipe {
    padding-top: calc($space-xxh + $space-m);

    &__supplies {
      margin-top: $space-xl;
    }
  }
}

@media (max-width: 576px) {
  .single-recipe {
    padding-top: $space-xxh;
    padding-left: $container-padding-s;
    padding-right: $container-padding-s;

    &__divider {
      padding: 0 $space-xl;
    }
  }
}
