@use "../../../../../styles/variables" as *;

.filters {
  display: flex;
  flex-direction: column;
  gap: $space-l;
  margin: $space-xh 0;

  &__search {
    display: flex;
    gap: $space-l;
  }

  &__categories {
    align-self: flex-end;
  }
}

@media (max-width: 576px) {
  .filters {
    margin: $space-xl 0;
  }
}
